[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rd2md"]
	path = Rd2md
	url = https://github.com/quantsch/rd2md
[submodule "Strategy"]
	path = Strategy
	url = https://github.com/cran/Strategy
